DB_USER=user
DB_PASSWORD=user000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DATABASE_URL=postgresql+psycopg://user:user2135@localhost:5432/db_name

HOST=0.0.0.0
PORT=8000
NGROK_BASE_URL=https://example.com

AUTH_SECRET_KEY=change_this_to_a_secure_random_key_in_production
